
*.cpp linguist-language=ignore
*.cxx linguist-language=ignore
*.h linguist-language=ignore
*.hpp linguist-language=ignore
*.c++ linguist-language=ignore
*.cc linguist-language=ignore
*.C linguist-language=ignore


*.cmake linguist-vendored
*.CMake linguist-vendored
*.in linguist-vendored
